*{margin:0;padding:0;}
header{
  width:100vw;
  height:30vh;
  background-color: #ccc;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
header>div{
  width:200px;
  height:10vh;
  background-color: skyblue;
  margin-top:3vh
}
header>nav{
  width:100vw;
  height:5vh;
  background-color:#aaa;
  margin-top:14vh;
}

header>nav>ul{
  border-top:1px solid black;
  border-bottom:1px solid black;

  text-align: center;
  background-color:skyblue;
  height:5vh;

}
header>nav>ul>li{
  display:inline-block;
  height:5vh
}

